{% extends 'main.html' %}
{% load crispy_forms_tags %}

    
    {% block title %}
        Delete File
    {% endblock title %}
    
    {% block heading %}
        File Manager
    {% endblock heading %}

    {% block content %}

    <div class="card shadow mb-4 my-0 mx-auto" style="max-width: 500px;">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Confirm Delete</h5>
        </div>
        <div class="card-body my-0 mx-auto">
            <form action="{% url 'file_delete_check' zipFile.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Are you sure you want to delete <strong>{{zipFile.zip_file}}</strong>?</p>
                <div class="form-group">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <a href="{% url 'scholar_filelist' %}" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
        
    {% endblock content %}