{% extends 'main.html' %}

    
    {% block title %}
        Update File
    {% endblock title %}
    
    {% block heading %}
        File Manager
    {% endblock heading %}

    {% block content %}

    <div class="card shadow mb-4 my-0 mx-auto" style="max-width: 500px;">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Update File</h5>
        </div>
        <div class="card-body my-0 mx-auto">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="zip_file">Update your file here.</label><br>
                    <input type="file" accept=".zip" name="zip_file" id="" required><br>
                    <label class="mt-2" for="">Recent file: {{zipFile.zip_file}} </label>
                    
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Update</button>
                    <a href="{% url 'scholar_filelist' %}" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
        
    {% endblock content %}